.fs{
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    font-family: Roboto;
    font-size: 13px;
}
.fs_footer{
    display: flex;
    flex-flow: row;
    background-color: teal;
    width: calc(100% - 1px);
    height: 28px;
}
.fs_area{
    display: flex;
    background-color: white;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.fs_dropdown {
    position: absolute;
    background-color: violet;
    display: none;
    flex-flow: column nowrap;
    z-index: 6;
    height: 75px;
    width: 100px;
}
.fs_dropdown_button{
    display: flex;
    background-color: black;
    color: white;
    border: gray solid 1px;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.fs_dropdown_button:hover{
    background-color: gray;
}
.fs_dropdown_button:disabled{
    background-color: rgb(62, 62, 62);
}