.arcade_overlay{
    background-color: rgba(0, 0, 0, 0.0);
    border: white solid 1px;
    display: none;
    z-index: 1005;
    width: 40%;
    height: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-flow: column;
}

.arcade_header{
    width: 100%;
    height: 25px;
    background-color: rgb(0, 0, 0);
    border-bottom: white solid 1px;
}

.arcade_scroll_area{
    background-color: rgba(46, 46, 46, 1.0);
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border-bottom: white solid 1px;
}

.arcade_game{
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    border: gray;
    width: 90%;
    aspect-ratio: 1/0.5555556;
    margin: auto;
    margin-bottom: 10%;
    transform: translate(0, 10%);
    background-image: none;
    background-size: contain;
}

.arcade_game_transition_parent{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    display: flex;
    flex-flow: column;
}

.arcade_game_text_scroll_parent{
    background-color: rgb(22, 22, 22);
    height: 83%;
    width: 100%;
    overflow-y: auto;
    outline: gray solid 1px;
    border-top: gray solid 1px;
}

.arcade_game_text_scroll_area{
    background-color: transparent;
    height: auto;
    width: 90%;
    font-family: Roboto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5%;
}

.arcade_game_button_area{
    background-color: lightseagreen;
    width: 100%;
    height: 17%;
}