.bitmap_builder_inner_parent{
  display: flex;
  background-color: greenyellow;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.bitmap_builder_grid_area{
  background: #333;
  height: calc(100% - 60px);
  overflow: scroll;
  display: flex;
}
.bitmap_builder_grid{
  width: auto;
  height: auto;
  margin: auto;
  padding: 6px;
  border: 1px dashed rgb(150, 150, 150);
  display: grid;
  grid-template-columns: repeat(3,1fr);
  aspect-ratio: 1/1;
}
.bitmap_grid_cell{
  background-color: white;
  outline: 1px gray solid;
  width: auto;
  height: auto;
  min-width: 0;
  min-height: 0;
  aspect-ratio: 1/1;
}

.bitmap_builder_button_area{
  background: #3d0055;
  height: 65px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: 50%;
}
.bitmap_builder_dual_button_area{
  background: #3d0055;
  height: 65px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-auto-rows: 50%;
}

.bitmap_color{
  background-color: white;
  outline: 1px gray solid;
  width: auto;
  height: auto;
  min-width: 0;
  min-height: 0;
}
