.editor{
    /* Matches terminal ace theme */
    background-color: none;
    display: flex;
    width: 100%;
    /* height: calc(100% - 60px); */
    height: calc(100% - 20px);
}
.editor_header_toolbar {
    background-color:black;
    display:flex;
    align-items:center;
    width:100%;
    height:20px;
    border: gray 1px solid;
}