html, body{
    background-color: gray;
    overflow: hidden;
    font-family: Roboto;
}

.page_wrapper{
    background-color: gray;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
}


.layout_container{
    background-color: gray;
    height: calc(100% - 45px);
    width: 100%;
    position: absolute;
    left: 0;
    top: 45px;
    box-shadow: -3px 0px 9px 0px rgba( 0, 0, 0, 0.4 );
}


/* Scrollbar style */
::-webkit-scrollbar{
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-thumb:horizontal{
  background: gray;
}
::-webkit-scrollbar-thumb:vertical{
  background: gray;
}
::-webkit-scrollbar-track {
  background: rgb(209, 209, 209);
}

/* Visited link color */
a:visited {color:white;}

/* Default link color */
a:link {
  color: rgb(0, 185, 218);
}

.header{
  background-color: rgb(190, 28, 28);
  height: 45px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.header_logo_space{
  background-color: black;
  flex: 0.1675;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: fill;
}
.header_button_space{
  background-color: rgb(45, 0, 128);
  flex: 0.42;
  height: 100%;
}
.header_link_space{
  background-color: rgb(11, 128, 0);
  flex: 0.417;
  height: 100%;
}