html, body {
    background-color: rgb(62, 62, 62);
    color: white;
    /* overflow: hidden; */
}

.header{
    background-color: rgb(46, 46, 46);
    height: 40px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.header_logo_parent {
    background-color: rgb(46, 46, 46);
    flex: 0.36;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: fill;
}
.header_logo {
    width: 38%;
    height: 80%;
    display: block;
}
.header_buttons_parent{
    flex: 1;
    display: flex;
    flex-direction: row;
}
.header_buttons{
    flex: 1;
    /* padding-bottom: 5px; */
    background-color: black;
    color: white;
    border: gray 1px solid;
}
.header_buttons:hover{
    background-color: gray;
}
.header_buttons:disabled{
    background-color: rgb(62, 62, 62);
}
.header_project{
    display: flex;
    flex: 2;
    /* padding-bottom: 5px; */
    background-color: black;
    color: white;
    border: gray 1px solid;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
.header_utilites_menu {
    position: absolute;
    background-color: violet;
    display: none;
    flex-flow: column nowrap;
    z-index: 10110;
    border: solid gray 1px;
    height: 125px;
    width: 150px;
}
.header_utilites_menu_btn{
    display: flex;
    width: 100%;
    flex: 1;
    background-color: black;
    align-items: center;
    word-wrap: break-word;
    border: none;
    border-top: solid gray 1px;
    text-align: center;
    justify-content: center;
    padding: 5px;
    color: white;
}
.header_utilites_menu_btn:hover{
    background-color: gray;
}

.header_links_parent{
    flex: 1;
    display: flex;
    flex-direction: row;
}
.header_links{
    position: relative;
    background-color: rgb(46, 46, 46);
    color: white;
    border: 1px solid gray;
    flex: 0.3333;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.header_links_other{
    background-color: rgb(46, 46, 46);
    color: white;
    border: 1px solid gray;
    flex: 0.3333;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 5px; */
    text-decoration: none;
}
a:visited {color:white;}

.editor{
    background-color: rgb(46, 46, 46);
    display: flex;
    width: 100%;
    /* height: calc(100% - 60px); */
    height: calc(100% - 20px);
  }
.editor_footer_toolbar {
    background-color:blue;
    display:flex;
    align-items:center;
    width:100%;
    height:40px;
}
.editor_footer_toolbar_btn {
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
    border: gray 1px solid;
}
.editor_footer_toolbar_btn:hover {
    background-color: gray;
}
.editor_footer_toolbar_btn:disabled {
    background-color: rgb(62, 62, 62);
}
.editor_header_toolbar {
    background-color:black;
    display:flex;
    align-items:center;
    width:100%;
    height:20px;
}
.editor_header_toolbar_btn {
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex: 1; */
    width: auto;
    padding-left: 10px;
    padding-Right: 10px;
    height: 100%;
    border: gray 1px solid;
}
.editor_header_toolbar_btn:hover {
    background-color: gray;
}
.editor_header_toolbar_btn:disabled {
    background-color: rgb(62, 62, 62);
}


.fs{
    background-color: black;
    color: white;
    overflow: auto;
    font-size: 14px;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}
.fs_rc_menu_parent {
    position: absolute;
    background-color: violet;
    display: none;
    flex-flow: column nowrap;
    z-index: 6;
    border: solid gray 1px;
    height: 125px;
    width: 100px;
}
.fs_rc_menu_btn{
    display: flex;
    width: 100%;
    flex: 1;
    background-color: black;
    align-items: center;
    word-wrap: break-word;
    border: none;
    border-top: solid gray 1px;
    text-align: center;
    justify-content: center;
    padding: 5px;
    color: white;
}
.fs_rc_menu_btn:hover{
    background-color: gray;
}



/* Scrollbar style */
::-webkit-scrollbar{
    height: 8px;
    width: 8px;
}
::-webkit-scrollbar-thumb:horizontal{
    background: gray;
}
::-webkit-scrollbar-thumb:vertical{
    background: gray;
}
::-webkit-scrollbar-track {
    background: rgb(209, 209, 209);
}



.bitmap_builder_inner_parent{
    display: flex;
    background-color: greenyellow;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.bitmap_builder_grid_area{
    background: #333;
    height: calc(100% - 60px);
    overflow: scroll;
    display: flex;
}
.bitmap_builder_grid{
    width: auto;
    height: auto;
    margin: auto;
    padding: 6px;
    border: 1px dashed rgb(150, 150, 150);
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.bitmap_grid_cell{
    background-color: white;
    border: 1px gray solid;
    width: 28px;
    height: 28px;
    min-width: 28px;
    min-height: 28px;
}

.bitmap_builder_button_area{
    background: #3d0055;
    border-top: gray 1px solid;
    height: 65px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 50%;
}

.bitmap_builder_button{
    background: white;
    color: black;
    border: 1px gray solid;
    font-size: 12.5px;
}
.bitmap_builder_button:hover{
    background: lightgrey;
}